/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting up the background color and font styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Centering the login form */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    margin-left:70%;
}

/* Styling the login form container */
.main {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling the input fields */
.main input[type="text"],
.main input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Styling the submit button */
.main button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Styling the submit button on hover */
.main button:hover {
    background-color: #0056b3;
}
.background{
    display: flex;
    width:80%;
    height: 100vh;
}
