{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'pratice.css' %}">
</head>
<body style="font-family: 'Open Sans', sans-serif;;margin: 0px;">
    <section class="side">
            <div class="flex1" style="padding-bottom:30px;">
            <div>
                <img src="{% static 'image.png' %}" alt="">
        </div>
        <div>
            <h1 style="color:white">Id:</h1> <h1>2200030956</h1>
        </div>
        </div>
      <div class="flex2">
            <div class="info">
                <h2><a href="http://127.0.0.1:8000/dashboard/profile" style="text-decoration: none; color:wheat">profile</a> </h2>
            </div>
            <div class="info">
                <h2><a href="http://127.0.0.1:8000/dashboard/practice" style="text-decoration: none; color:wheat">practice</a> </h2>
            </div>
            <div class="info">
                <h2><a href="http://127.0.0.1:8000/dashboard/apply" style="text-decoration: none; color:wheat">Apply</a> </h2>
            </div>
           <div class="info">
                <h2><a href="http://127.0.0.1:8000/dashboard/jobs" style="text-decoration: none; color:wheat">Jobs</a> </h2>
            </div>
        </div>
    </section>
    <section class="anotherpage">
    <div class="data">
           <div class="prof">
            <h1> This is pratice Question</h1>
            <div class="creative">
                <h2>1.Tell me about yourself.</h2>
                <input type="text" >
          </div>
<div class="creative">
                <h2>2. Walk me through your resume.</h2>
                <input type="text" >
          </div>
<div class="creative">
                <h2>3.How did you hear about this position?</h2>
                <input type="text" >
          </div>
<div class="creative">
                <h2>4.Why do you want to work at this company?</h2>
                <input type="text" >
          </div>
<div class="creative">
                <h2>5.Why do you want this job?</h2>
                <input type="text" >
          </div>
<div class="creative">
                <h2>6.Why should we hire you?
</h2>
                <input type="text" >
          </div>
<div class="creative">
                <h2>7.What can you bring to the company?</h2>
                <input type="text" >
          </div>
<div class="creative">
                <h2>8.What are your greatest strengths?</h2>
                <input type="text" >
          </div>
<div class="creative">
                <h2>9.What do you consider to be your weaknesses?</h2>
                <input type="text" >
          </div>
<div class="creative">
                <h2>10.What is your greatest professional achievement?</h2>
                <input type="text" >
          </div>
<div class="creative">
                <h2>11.Tell me about a time you demonstrated leadership skills.</h2>
                <input type="text" >
          </div>
<div class="creative">
                <h2>12.What's a time you disagreed with a decision that was made at work?</h2>
                <input type="text" >
          </div>
        </div>
           </div>
    </section>
</body>
</html>